html{
    background-color: black;
    font-size: 62.5%;
    font-family: "Acumin-pro", sans-serif;
    scroll-behavior: smooth; 
}


body {
    font-size: 1.6rem;
    background: var(--bg);
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    */
    margin: 0; /* This removes the default margin */
  }

  a{
    color: #ffffff;  
  }
  
  h1{
    text-align: center;
    margin: 7rem;
    letter-spacing: 24px;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
  }
  
  h2{
    font-size: 2vw;
    
  }
.underline{
  text-decoration: none;
}
  input{
width: 520px;
height: 60px;
border-radius: 100px;
background: rgba(169, 169, 164, 0.50);
border: none;
align-self: center;

  }
  textarea{
    background: rgba(169, 169, 164, 0.50);
    width: 500px;
    height: 250px;
    align-self: center;
    border: none;
    border-radius: 25px;
    padding: 10px;
    resize: none;
  }

  p{
    opacity: 0.2;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* This makes the container take up the full viewport height */
  }

/***********************  /*style="transform: translateX(0px); transition: all 0.3s ease 0s;
-++++++++++++++++-++++++++++++++++-++++++++++++++++
-++++++++++++++++-++++++++++++++++-++++++++++++++++-++++++++++++++++
-++++++++++++++++-++++++++++++++++-++++++++++++++++-++++++++++++++++
-++++++++++++++++-++++++++++++++++-++++++++++++++++
-++++++++++++++++-++++++++++++++++-++++++++++++++++
-++++++++++++++++-++++++++++++++++-++++++++++++++++-++++++++++++++++
-++++++++++++++++-++++++++++++++++-++++++++++++++++-++++++++++++++++

-++++++++++++++++*/

form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  padding: 30px;
  background: #151315;
  border-radius: 15px;
  width: 40vw;
  margin: auto;
}
  
input, textarea, button {
  margin: 10px; /* Ajoutez cette ligne */
}

button{
  align-self: center;
}

  nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav ul li {
    flex-basis: 20%;
    text-align: center;
    font-size: 2vw;
    margin: 0 10px; /* Ajoutez cette ligne */
    
  }
  nav ul li a {
    text-decoration: none; /* Ajoutez cette ligne */
  }
  .underline {
    background-image: linear-gradient(to left, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 1% 0px;
    background-position: 0% 100%;
    transition: background-size 1s ease, background-position 1s ease;
  }
  
  .underline:hover {
    background-size: 100% 2px;
    background-position: 0% 100%;
  }

  .underlineActive{
    text-decoration: underline;
  }


  a, h1, h2, p, label, button  {
    color: #ddd; /* Changez cela en fonction de vos besoins */
  }
  
  .underlineActive{
    text-decoration: underline;
  }

  label{
    padding-left: 60px;
    font-size: 20px;
    padding-top: 20px;
  }
  button{
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.80) 0%, rgba(255, 0, 0, 0.80) 13.96%, rgba(173, 15, 15, 0.80) 55.04%, rgba(82, 0, 0, 0.80) 100%), rgba(255, 0, 0, 0.50);
    width: 250px;
    height: 70px;
    flex-shrink: 0; 
    border: none;
}


.navbar{

width: 1500px;
height: 200px;

}