html{
    background-color: black;
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth; 
}


body {
    font-size: 1.6rem;
    background: var(--bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh; /* This makes the body take up the full viewport height */
    margin: 0; /* This removes the default margin */
  }

  a{
    color: #ffffff;  
  }
  
  h1{
    color: #ffffff;
    text-align: center;
    margin: 7rem;
    font-size: 2vw;
  }
  
  section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 25px;
    background: #151315;
  }
  section > h2, section > p, section > input, section > textarea, section > button {
    margin: 10px;
  }

  h2{
    color: #ffffff;
    font-size: 2vw;
  }

  input{
width: 520px;
height: 60px;
border-radius: 100px;
background: rgba(169, 169, 164, 0.50);
border: none;
align-self: center;

  }
  textarea{
    background: rgba(169, 169, 164, 0.50);
    width: 500px;
    height: 250px;
    align-self: center;
    border: none;
    border-radius: 25px;
    padding: 10px;
  }

  p{
    color: #FFF;
    opacity: 0.2;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* This makes the container take up the full viewport height */
  }

  
  
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  nav ul li {
    flex-basis: 20%;
    text-align: center;
    font-size: 2vw;
    margin: 0 10px; /* Ajoutez cette ligne */
  }
  button{
    border-radius: 10px;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.80) 0%, rgba(255, 0, 0, 0.80) 13.96%, rgba(173, 15, 15, 0.80) 55.04%, rgba(82, 0, 0, 0.80) 100%), rgba(255, 0, 0, 0.50);
width: 250px;
height: 70px;
flex-shrink: 0; 
color: #FFF;
}

section div{
    display: flex;
    flex-direction: column;
    align-self: self-start;
    padding-left: 20px;
}
  